In [1]:
(10 + 5)/3

5.0

In [2]:
pow(2, 10)

1024

In [3]:
test = 'Hello world'

In [4]:
id(test)

4377290800

In [5]:
test2 = 'Hello world'

In [6]:
id(test2)

4377290736

In [7]:
another_test = test

In [8]:
id(another_test)

4377290800

In [9]:
#Boolean data type
condition = False

In [10]:
type(condition)

bool

In [11]:
if condition:
    print('True logic')
else:
    print('False logic')

False logic

In [12]:
5 == 6

False

In [13]:
5 == 5

True

In [14]:
number_viis = 5
number_kuus = 6

In [15]:
number_viis + number_kuus

11

In [16]:
number_kuus - number_viis

1

In [17]:
number_viis/number_kuus * 5

4.166666666666667

In [18]:
number_viis/(number_kuus * 5)

0.16666666666666666

In [19]:
string_example = "String"
teine_string = " Example"

In [20]:
string_example + teine_string

'String Example'

In [21]:
len(string_example)

6

In [22]:
if len(string_example) == 6:
    print('6')

6

In [23]:
if len(teine_string) == 6:
    print('6')

In [24]:
#List example
list_näide = [0,1,2,3,4,5,6,7,8,9]

In [25]:
list_stringid = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]

In [26]:
print (list_stringid)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [27]:
print(list_näide)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
for number in list_näide:
    print(number)

0
1
2
3
4
5
6
7
8
9

In [29]:
for number in list_näide:
    print(number * number)

0
1
4
9
16
25
36
49
64
81

In [31]:
5 % 2

1

In [34]:
str(5)

'5'

In [35]:
for number in list_näide:
    if number % 2 == 0:
        print('even ' + str(number))
    else:
        print('Odd ' + str(number))

even 0
Odd 1
even 2
Odd 3
even 4
Odd 5
even 6
Odd 7
even 8
Odd 9

In [36]:
#String formatting
for number in list_näide:
    if number % 2 == 0:
        print('even %s' % number)
    else:
        print('Odd %s' % number)

even 0
Odd 1
even 2
Odd 3
even 4
Odd 5
even 6
Odd 7
even 8
Odd 9

In [37]:
sum = 0
for number in list_näide:
    sum = sum + number
print (sum)

45

In [41]:
#Shortenen math operations
sum = 0
for i in list_näide:
    sum *= i
print (sum)

0

In [43]:
print(list_stringid)
for string in list_stringid:
    print(len(string))

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
3
3
5
4
4
3
5
5
4

In [44]:
print(list_stringid)
sum = ''
for string in list_stringid:
    sum += string
print(sum)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
onetwothreefourfivesixseveneightnine

In [45]:
print(list_stringid)
sum = ''
for string in list_stringid:
    sum += ' ' + string
print(sum)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
 one two three four five six seven eight nine

In [47]:
tere = 'Tere'
len(tere)

4

In [48]:
len(list_stringid)

9

In [46]:
for number in range(0, 10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [53]:
empty_list = []

for number in range(0, 100):
    empty_list.append(number * number)

print(empty_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [57]:
#List comprehension
numbers_list = [number * number for number in range(0,100) if number % 2 == 0]
print(numbers_list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]

In [60]:
for number in range(0,10):
    test = 'odd' if number % 2 == 0 else 'EVENEVEN'
    print(test)

odd
EVENEVEN
odd
EVENEVEN
odd
EVENEVEN
odd
EVENEVEN
odd
EVENEVEN

In [66]:
numbers_list = [number for number in range(0,10)]

In [67]:
numbers_list[1:5]

[1, 2, 3, 4]

In [70]:
numbers_list[:5]

[0, 1, 2, 3, 4]

In [71]:
numbers_list[1:6:2]

[1, 3, 5]

In [72]:
numbers_list[1::3]

[1, 4, 7]

In [73]:
#Tuple
tuple_example = (0,2,3)

In [74]:
tuple_example

(0, 2, 3)

In [75]:
paar = (0, 5)
paar_2 = (1, 6)
print(paar)
print(paar_2)

(0, 5)
(1, 6)

In [76]:
triple = (0,2,3)

In [77]:
quadruple = (0, 'testi_tulemused', 'Aleksandr', 'Tavgen')
quadruple

(0, 'testi_tulemused', 'Aleksandr', 'Tavgen')

In [78]:
quadruple[1:]

('testi_tulemused', 'Aleksandr', 'Tavgen')

In [79]:
quadruple[0]

0

In [80]:
quadruple[1]

'testi_tulemused'

In [81]:
numbers_list[0]

0

In [82]:
numbers_list[1]

1

In [84]:
#Set
#Dictionary
list_example = list() #same as list_example = []
set_example = set() #same as set_example = {}
dict_example = dict() #same as dict_example = {}

In [85]:
list_with_duplicates = [1,1,2,3,4,5,6,6,7,7,9,13,13,15]

In [87]:
set_example = set(list_with_duplicates)

In [88]:
set_example

{1, 2, 3, 4, 5, 6, 7, 9, 13, 15}

In [89]:
set_example.add(16)

In [90]:
set_example

{1, 2, 3, 4, 5, 6, 7, 9, 13, 15, 16}

In [91]:
set_example.remove(16)
set_example

{1, 2, 3, 4, 5, 6, 7, 9, 13, 15}

In [92]:
#dictionary
dict_example = dict()

In [93]:
dict_example['one'] = 1
dict_example['two'] = 2
dict_example['three'] = 3

In [94]:
dict_example

{'one': 1, 'two': 2, 'three': 3}

In [95]:
dict_example['one']

1

In [96]:
dict_example = dict()
dict_example['even'] = list()
dict_example['odd'] = list()
dict_example

{'even': [], 'odd': []}

In [97]:
dict_example['odd']

[]

In [98]:
dict_example['odd'].append('mingit number')
dict_example['odd']

['mingit number']

In [102]:
dict_example = dict()
dict_example['even'] = list()
dict_example['odd'] = list()

for number in range(0,100):
    if number % 2 == 0:
        dict_example['even'].append(number)
    else:
        dict_example['odd'].append(number)
dict_example

{'even': [0,
  2,
  4,
  6,
  8,
  10,
  12,
  14,
  16,
  18,
  20,
  22,
  24,
  26,
  28,
  30,
  32,
  34,
  36,
  38,
  40,
  42,
  44,
  46,
  48,
  50,
  52,
  54,
  56,
  58,
  60,
  62,
  64,
  66,
  68,
  70,
  72,
  74,
  76,
  78,
  80,
  82,
  84,
  86,
  88,
  90,
  92,
  94,
  96,
  98],
 'odd': [1,
  3,
  5,
  7,
  9,
  11,
  13,
  15,
  17,
  19,
  21,
  23,
  25,
  27,
  29,
  31,
  33,
  35,
  37,
  39,
  41,
  43,
  45,
  47,
  49,
  51,
  53,
  55,
  57,
  59,
  61,
  63,
  65,
  67,
  69,
  71,
  73,
  75,
  77,
  79,
  81,
  83,
  85,
  87,
  89,
  91,
  93,
  95,
  97,
  99]}

In [103]:
list_of_numbers = [1,2,3,4,5,6,7,8,9]

In [104]:
8 in list_of_numbers

True

In [106]:
#Test if something present in list
if 57 in list_of_numbers:
    print('Present')

In [107]:
name = "John Smith"

In [108]:
if "John" in name:
    print("present")

present

In [109]:
def print_function(data):
    print(data)

In [110]:
print_function('test')

test

In [111]:
def isEven(number):
    return number % 2 == 0

In [113]:
isEven(5)

False

In [ ]:
dict_example = dict()
dict_example['even'] = list()
dict_example['odd'] = list()

def isEven(number):
    return number % 2 == 0

for number in range(0,100):
    if isEven(number):
        dict_example['even'].append(number)
    else:
        dict_example['odd'].append(number)

In [ ]:
# Tehke dictionary, kus on kirjutatud numbri astme listid, 2,3,4 astmed
# nullist sajani

In [ ]:
# Teha dictionary kus on odd and even numbers, ning kirjutada funktsiooni 
# mis testib kas number on dictionary sees kus on key - Odd või Even

In [ ]:
# prime numbers on numbers kus on just two divisors 1 and number itself
# if you want to check wether number is prime you need to test 
# if there are any divisors from 2 to square root of this number
# create function which test wheter number isPrime
# make a list of prime numbers from 0 to 10 000

In [114]:
import math
math.sqrt(16)

4.0

In [140]:
import math

def isPrime(number):
    result = True
    for divisor in range(2, int(math.sqrt(number))+1):
        if number == 2:
            result = True
        if number % divisor == 0:
            result = False
            break
    return result

In [141]:
isPrime(16)

False

In [143]:
for number in range(0, 1000):
    if isPrime(number):
        print(number)

0
1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [127]:
isPrime(5)

True

In [123]:
isPrime(6)

True